html {
	margin:0;
	padding:0;
}
body {
	background-color:#eeeeee;
	font:100%/1.5 sans-serif;
	padding:0;
	margin:0 2em;
}

h1 {
	font-size:2em;
	margin:0;
}
h2 {
	font-size:1em;
	font-weight:normal;
	font-style:italic;
	margin:0;
}
h3 {
	font-size:2.5em;
	margin:0;
	line-height:1.1;
	font-weight:normal;
}

ul {
    display: inline-block;
	margin:0;
	padding:0;
}
.font {
	margin-bottom:2em;
	vertical-align:top;
}
.font small {
    font-family: sans-serif;
}
li {
	display:inline-block;
	padding-right:3px;
}
li:after {
	content: ',';
}
li:last-child:after {
	content: '';
}

#fonts, #fontsComp {
    width: 45%;
    display: inline-block;
    overflow: scroll;
    height: 500px;
    padding: 20px;
}