<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Compare "Microsoft Fonts" and "Google Web Font" Families</title>
<link rel="stylesheet" media="screen" href="google-families.css" />
</head>

<body>
<header>
	<h1>Compare "Microsoft Fonts" and
        <span class="googFontCount"></span> "Google Web Font" Families
    </h1>
    <h4>Click on a font to filter them by matching width. You can specify the error margin. Drag the fonts to compare them</h4>
    <br/>
    <br/>
</header>
<table width="100%">
    <tr>
        <td>
            <label>Error margin: <input type="number" id="error_margin" value="0" /></label>
            <button id="reset">Reset</button>
        </td>
        <td>
            <label><input type="checkbox" id="local_debug"> Local debug</label> |
            <label>Contains Subsets:</label>
                <select id="subset">
                <option value="latin"  > Latin</option>
                <option value="latin-ext" > Latin-ext</option>
                <option value="greek" selected="selected" > Greek</option>
                <option value="greek-ext" > greek-ext</option>
                <option value="hebrew" > Hebrew</option>
                <option value="cyrillic" > Cyrillic</option>
                <option value="cyrillic-ext" > Cyrillic-ext</option>
                <option value="chinese-simplified" > Chinese-simplified</option>
                <option value="chinese-traditional" > Chinese-traditional</option>
                <option value="chinese-hongkong" > Chinese-hongkong</option>
                <option value="japanese" > Japanese</option>
                <option value="korean" > Korean</option>
                <option value="vietnamese" > Vietnamese</option>
                <option value="thai" > Thai</option>
                <option value="tamil" > Tamil</option>
                <option value="devanagari" > Devanagari</option>
            </select>
        </td>
    </tr>
</table>

<div id="windows" class="fonts"></div>
<div id="google" class="fonts"></div>

<script id="font-template" type="text/template">
    <span class="font_text_uppercase" style="font-size:40px; font-family: <%- family %>;">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br/>
    <span class="font_text_lowercase" style="font-size:40px; font-family: <%- family %>;">abcdefghijklmnopqrstuvwxyz</span>
    <a class="overlap">overlap</a>
    <div>
        <small><a href='<%= extlink %>' target='_blank'><%= family %></a>
            <ul><% _.each(variants, function(v){
                var text = v.replace(/regular/i, '400').replace(/bold/i, '700'),
                isItalic = /italic/.test(text),
                weight = text.replace(/ ?italic/, ''),
                style = (weight !== '') ? 'font-weight:'+weight+';' : '';
                style = (isItalic) ? style + 'font-style:italic;' : style;
                %><li><%= text %></li><%
                }); %></ul>
        </small>
    </div>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="google-families.js"></script>

</body>
</html>