<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Compare "Microsoft Fonts" and "Google Web Font" Families</title>
<link rel="stylesheet" media="screen" href="google-families.css" />
</head>

<body>
<header>
	<h1>Compare "Microsoft Fonts" and
        <span class="googFontCount"></span> "Google Web Font" Families</h1>
    <br/>
    <br/>
</header>
<div>
    <label><input type="number" id="error_margin" value="0" /></label>
    <button id="reset">Reset</button>
</div>
<div id="windows" class="fonts"></div>
<div id="google" class="fonts"></div>

<script id="font-template" type="text/template">
    <span class="font_text_uppercase" style="font-size:40px; font-family: <%- family %>;">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br/>
    <span class="font_text_lowercase" style="font-size:40px; font-family: <%- family %>;">abcdefghijklmnopqrstuvwxyz</span>

    <div>
        <small><a href='<%= extlink %>' target='_blank'><%= family %></a>
            <ul><% _.each(variants, function(v){
                var text = v.replace(/regular/i, '400').replace(/bold/i, '700'),
                isItalic = /italic/.test(text),
                weight = text.replace(/ ?italic/, ''),
                style = (weight !== '') ? 'font-weight:'+weight+';' : '';
                style = (isItalic) ? style + 'font-style:italic;' : style;
                %><li><%= text %></li><%
                }); %></ul>
        </small>
    </div>
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="google-families.js"></script>

</body>
</html>